/* global config styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* root variables */
:root {
  /* width variables */
  --width-full: 100%;

  /* radius variables */
  --radius-sm: 5px;
  --radius-md: 10px;
  --radius-lg: 15px;
  --radius-xl: 20px;

  /* margin variables */
  --margin-y-sm: 5px 0;
  --margin-y-md: 10px 0;
  --margin-y-lg: 15px 0;

  /* break points */
  --mobile: 480px;
  --tablet: 760px;
  --desktop: 960px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
